@{ 
    var activeClass = "class=active";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mp.metroeguide.web</title>
    <link rel="stylesheet" href="~/css/bundle.css" />
    @if (IsSectionDefined("head"))
    {
        IgnoreSection("head"); 
    }
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Metro eGuide MP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li @if (ViewBag.ActivePage == "manage") { @activeClass ; }>
                        @Html.ActionLink("Page Selector", "Index", "manage")
                    </li>
                    <li @if (ViewBag.ActivePage == "copy") { @activeClass; }>
                        @Html.ActionLink("Page Copier", "Index", "copy")
                    </li>
                    <li @if (ViewBag.ActivePage == "bulk") { @activeClass; }>
                        @Html.ActionLink("Bulk Insert", "Index", "bulkInsert")
                    </li>
                    <li @if (ViewBag.ActivePage == "clients") { @activeClass; }>
                        @Html.ActionLink("Client Manager", "Index", "clients")
                    </li>
                    <li @if (ViewBag.ActivePage == "linkViewer") { @activeClass; }>
                        @Html.ActionLink("Link Viewer", "Index", "linkViewer")
                    </li>
                    <li @if (ViewBag.ActivePage == "findReplace") { @activeClass; }>
                        @Html.ActionLink("Find & Replace", "Index", "findReplace")
                    </li>
                    <li @if (ViewBag.ActivePage == "linkChecker") { @activeClass; }>
                        @Html.ActionLink("Link Checker", "Index", "linkChecker")
                    </li>
                </ul>
            </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Metro eGuide</p>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bundles/jquery.js"></script>
    <script src="~/js/bundles/bootstrap.js"></script>
    <script src="~/js/bundles/knockout.js"></script>
    <script src="~/js/bundles/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
